body {
    background-color: beige;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}

pre {
    background-color: oldlace;
    display: inline-block;
    padding: 8px;
    border: 1px solid black;
}

code {
    font-size: 12pt;
}

p > code,
li > code {
    color: #006600;
}

